<nav>
  <div class="navbar container ">
    <div class="d-flex align-items-center justify-content-between">
      <!--  -->
      <div class="d-flex align-items-center">
        <img src="assets/images/icons/logo.svg" alt="wasta" width="120px" height="100%">
        <div class="splitter px-md-4"></div>
        <div class="d-flex gap-3">
          <ng-button [color]="'offset'" [size]="12" [themes]="'outline'">Start hiring</ng-button>
          <ng-button [color]="'offset'" [size]="12" [themes]="'outline'">Find a jop</ng-button>
        </div>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <!-- sign in -->
        <ng-container *ngIf="!authState.isLoggedIn()">
          <ng-button [color]="'dark'" [size]="16" [themes]="'flat'" [customStyle]="{'padding':'10px 14px'}">Sign
            in</ng-button>
          <ng-button [color]="'primary'" [size]="12" [themes]="'solid'">Find a jop</ng-button>
        </ng-container>
        <!-- logged in -->
        <ng-container *ngIf="authState.isLoggedIn()">
          <ng-button [color]="'primary'" [size]="16" [themes]="'icon'">
            <div class="d-flex align-items-center gap-2">
              <img src="../../../../assets/images/icons/client.svg" alt="client" width="34" height="100%">
              <span>{{authState.user?.name}}</span>
            </div>
          </ng-button>
        </ng-container>
        <!-- lang -->
        <ng-button [color]="'dark'" [size]="14" [themes]="'icon'" class="mx-2">
          <div class="d-flex align-items-center gap-2">
            <span class="capital">EN</span>
            <img src="assets/images/icons/lang.svg">
          </div>
        </ng-button>
        <!-- menu trigger -->
        <ng-button [themes]="'icon'" [color]="'dark'" #dropDownBtn [dropDownActive]="'active'">
          <span class="material-symbols-outlined">menu</span>
        </ng-button>

        <ng-dropDown [trigerFor]="dropDownBtn" [position]="{top:10,left:0}">
          <li class="item">account</li>
          <li>service</li>
          <li>blog</li>
          <li>about</li>
          <li>how to work</li>
        </ng-dropDown>

      </div>

    </div>
  </div>
</nav>
