$primary: rgb(217, 43, 76);
$accent: rgb(0, 0, 255);
$offset: rgb(127, 135, 158);

$secondary: #ffffff;
$gradient-start: #AF29FF;
$gradient-middle1: #E5C9F2;
$gradient-middle2: #FEF3F1;
$gradient-end: #F85D39;
$bgGradient: linear-gradient(to right, $gradient-start, $gradient-middle1, $gradient-middle2, $gradient-end);

:root {
  --desktop-font: 20px;
  --secondary: $secondary;
  /* button color matcher */
  --primary: 217, 43, 76;
  --btn-primary-color: #ffffff;
  //
  --accent: 0, 0, 255;
  --btn-accent-color: #ffffff;
  //
  --offset: 127, 135, 158;
  --btn-offset-color: #ffffff;
  //
  --dark: 0, 0, 0;
  --btn-dark-color: 0, 0, 0
}

// :host {
//   --desktop-font: 25px
// }
