// wasta theming
@use './themes/variables';

/* You can add global styles to this file, and also import other style files */
$gradient-start: #AF29FF;
$gradient-middle1: #E5C9F2;
$gradient-end: #F85D39;

body {
  // background: linear-gradient(to right, red 10%, green 10% 20%, blue 20%);

  background: linear-gradient(170deg, $gradient-start, $gradient-middle1 45%, $gradient-end );
  background-repeat: no-repeat;
  min-height: 100vh;
}

html,
body {

}


body {
  margin: 0;
  *{
    font-family: 'Inter', sans-serif;
  }
}
